* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.d-flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.cont {
  margin-bottom: 10px;
}

.cont-1,
.cont-2,
.cont-3,
.cont-4 {
  order: 1;
}

.border-gray {
  border: 1px solid gray;
}

.border-red {
  border: 1px solid red;
}

.border-blue {
  border: 1px solid blue;
}

.border-green {
  border: 1px solid green;
}

@media screen and (max-width: 767px) {
  /* .cont-1 {
    order: 1;
  }
  .cont-2 {
    order: 3;
  }
  .cont-3 {
    order: 2;
  }
  .cont-4 {
    order: 4;
  } */
}
